
body {
  margin-top: 30px;
}

div.hero-unit h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

div.hero-unit p {
  font-height: 18px;
  line-height: 27px;
}

body h1 {
  margin-top: 40px;
}

body h2 {
  margin-top: 30px;
}

#demo-titles {
  float: right;
  position: relative;
  width: 248px;
  height: 186px;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 4px;
  margin: 4px 0 20px 20px;
  white-space: nowrap;
  overflow: hidden;
}

#demo-titles div {
  white-space: nowrap;
  overflow: hidden;
}

#demo-titles a.btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -58px;
  margin-top: -18px;
}

dl dd {
  margin: 0 0 12px 36px;
}

